.box {
  width: 200px; 
  padding: 10px;
  margin: 10px;
}
.header {
 background:#000000;
 color: red;
}

body {
    background-image:url('boom.gif');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
    width:100%;
}

.boom 
{
  width="320" 
  height="240" 
  controls>
  <source src="video.mp4" 
  type="video/mp4">